fieldset
    if typeof(post)!= 'undefined' && post
        .control-group
            label.control-label Id
            .controls
                .uneditable-input= post.id
        .control-group
            label.control-label Title
            .controls
                input(type='text',name='post[title]',value=post.title)
        .control-group
            label.control-label Body
            .controls
                textarea(name='post[body]')= post.body
    else
        .control-group
            label.control-label Title
            .controls
                input(type='text',name='post[title]')
        .control-group
            label.control-label Body
            .controls
                textarea(name='post[body]')
