.span2
    h2.
        Post #{post.id}
.span10
    form(action="/posts/#{post.id}",method="POST")
        input(type='hidden',name='_method',value='PUT')
        != partial('post/_form', {post: post})
        .form-actions
            button.btn.btn-primary(type='submit') Send
            a.btn(href='/posts') Back
