.span2
    h2 New Post
.span10
    form.form-horizontal(action="/posts",method="POST")
        != partial('post/_form')
        .form-actions
            button.btn.btn-primary(type='submit') Send
            a.btn(href='/posts') Back
