.span2
    Nav
div.span10
    .row-fluid
        .hero-unit
            h1= title
            p Welcome to #{title}
            a.btn.btn-primary(href='/posts') Posts
    .row-fluid
        .span12
            video(controls='controls')
                source(src='http://intranet/wps/wcm/myconnect/4e43e980466bc9bea345bfa5f41224ee/19+-+Starke+Passwoerter_HD_400x300_WMV.wmv?MOD=AJPERES&CONVERT_TO=url&CACHEID=4e43e980466bc9bea345bfa5f41224ee')


