.span4.offset4
    form(method='POST')
        .control-group
            label User
            .controls
                input(type='text',name='user')
        .control-group
            label Password
            .controls
                input(type='password',name='password')
        .form-actions
            input.btn.btn-primary(type='submit',value='Login')
