extends ../layout

include _form

block content
    .span4.offset4
        form(action='/users',method='POST')
            mixin form({ username: '', fullname: '' })
            .form-actions
                input.btn.btn-primary(type='submit',value='create')
